.p-toast.p-toast-top-right {
    z-index: 1000;
    top: 7rem;
}

.border-round-card {
    border-radius: 15px;
}

/*
.content-wrapper {
    background-color: pink;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
}

@media (min-width: 992px) {
    .content-wrapper {
      background-color: red;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (min-width: 1300px) {
    .content-wrapper {
      background-color: green;
      padding-left: 100px;
      padding-right: 100px;
    }
  }
  
  @media (min-width: 1800px) {
    .content-wrapper {
      background-color: blue;
      padding-left: 200px;
      padding-right: 200px;
    }
  }*/